
Invoice generato app/.idea/Invoice generato app.iml
Invoice generato app/.idea/inspectionProfiles/Project_Default.xml
Invoice generato app/.idea/inspectionProfiles/profiles_settings.xml
Invoice generato app/.idea/misc.xml
Invoice generato app/.idea/modules.xml
Invoice generato app/.idea/vcs.xml
Invoice generato app/10001-2023.1.18.xlsx
Invoice generato app/10002-2023.1.18.xlsx
*.xlsx
